/**
* @name coolcord
* @version 1.1.0
* @description Give Discord a cool new look using soft cool colors and a friendly design.
* @author ThemeSchemer
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
	--font-primary: "DM Sans", sans-serif;
	--font-display: "DM Sans", sans-serif;
	--text-link: #36CBB0;
}

.theme-dark .wrapper-3WhCwL {
	background: rgba(54, 203, 176, 0.2);
	color: #3EEBCB;
}

.winButtonMinMax-PBQ2gm svg,
.winButtonClose-1HsbF- svg {
	color: #36CBB0;
}

.numberBadge-2s8kKX {
  animation: animatedPing 1.3s infinite ease-in-out;
}
@keyframes animatedPing {
  0% {
    transform: scale(1);
	background: #36CBB0;
  }
  50% {
    transform: scale(1.2);
	background: #239681!important;
  }
  100% {
    transform: scale(1);
	background: #36CBB0;
  }
}

.newMessagesBar-265mhP {
	height: 30px;
	margin-top: 5px;
	text-align: center;
	border-radius: 3px;
	background: var(--background-secondary);
}

#NewMessagesBarJumpToNewMessages_25240::before {
	content: "New Unread Messages";
	color: var(--channels-default);
	text-transform: uppercase;
	letter-spacing: 5px;
	visibility: visible;
	font-weight: 100;
}

#NewMessagesBarJumpToNewMessages_25240 {
	visibility: hidden;
}

.barButtonAlt-mYL1lj {
	display: none;
}

/* Square Avatars */
.avatar-37jOim {
	border-radius: 15px;
}

.avatar-1BDn8e,
.avatar-SmRMf2 foreignObject,
.avatar-3uk_u9 foreignObject {
	mask: none;
	border-radius: 15%!important;
}

.avatarHintInner-1TvA8u,
.avatar-37jOim foreignObject,
.avatarHint-2A3RNb foreignObject {
	mask: none;
	border-radius: 10px!important;
}

.avatar-37jOim rect {
	display: none;
}

/* Spoilered Images */
.spoilerWarning-2aAZq1::before {
	width: 175px;
	color: white;
	padding: 10px;
	text-align: center;
	visibility: visible;
	border-radius: 5px;
	border: solid 3px white;
	content: 'Click To See Spoiler';
}

.spoilerWarning-2aAZq1 {
	visibility: hidden;
}

/* Channel Header Icons */
path[d="M12 3C13.417 3 14.71 3.5 15.734 4.321L5.99805 14.058C5.99805 14.0479 5.99856 14.038 5.99907 14.0283C5.99956 14.0188 6.00005 14.0094 6.00005 14V9C6.00005 5.686 8.68605 3 12 3Z"],
path[d="M8.957 19.5718L9.52877 19H15.4449C14.7519 20.19 13.4759 21 11.9999 21C10.7748 21 9.68752 20.442 8.957 19.5718Z"],
path[d="M18 10.5283L10.5287 18H21V17C19.344 17 18 15.657 18 14V10.5283Z"],
path[d="M21.178 1.70703L22.592 3.12103L4.12103 21.593L2.70703 20.178L21.178 1.70703Z"] {
	fill: #CE2322!important;
}

/* Channel Icons */

.iconContainer-1BBaeJ[aria-label="Voice"] svg path {
	d: path("M24 0L8 3V4.5V5V14.9996C7.16434 14.3719 6.12561 14 5 14C2.23858 14 0 16.2386 0 19C0 21.7614 2.23858 24 5 24C7.76142 24 10 21.7614 10 19V4.625L22 2.375V11.9996C21.1643 11.3719 20.1256 11 19 11C16.2386 11 14 13.2386 14 16C14 18.7614 16.2386 21 19 21C21.7614 21 24 18.7614 24 16V2V1.5V0ZM19 13C20.6569 13 22 14.3431 22 16C22 17.6569 20.6569 19 19 19C17.3431 19 16 17.6569 16 16C16 14.3431 17.3431 13 19 13ZM5 16C6.65685 16 8 17.3431 8 19C8 20.6569 6.65685 22 5 22C3.34315 22 2 20.6569 2 19C2 17.3431 3.34315 16 5 16Z") !important;
}

.iconContainer-1BBaeJ[aria-label="Voice (Limited)"] svg path {
	d: path("M21 0C19.8954 0 19 0.895431 19 2V3H18.3C18.1343 3 18 3.13431 18 3.3V7.7C18 7.86569 18.1343 8 18.3 8H23.7C23.8657 8 24 7.86568 24 7.7V3.3C24 3.13431 23.8657 3 23.7 3H23V2C23 0.895431 22.1046 0 21 0ZM21 1C20.4477 1 20 1.44772 20 2V3H22V2C22 1.44772 21.5523 1 21 1ZM16 1.5L8 3V4.5V5V14.9996C7.16434 14.3719 6.12561 14 5 14C2.23858 14 0 16.2386 0 19C0 21.7614 2.23858 24 5 24C7.76142 24 10 21.7614 10 19V4.625L16 3.5V1.5ZM22 11.9996V10H24V16C24 18.7614 21.7614 21 19 21C16.2386 21 14 18.7614 14 16C14 13.2386 16.2386 11 19 11C20.1256 11 21.1643 11.3719 22 11.9996ZM19 13C20.6569 13 22 14.3431 22 16C22 17.6569 20.6569 19 19 19C17.3431 19 16 17.6569 16 16C16 14.3431 17.3431 13 19 13ZM5 16C6.65685 16 8 17.3431 8 19C8 20.6569 6.65685 22 5 22C3.34315 22 2 20.6569 2 19C2 17.3431 3.34315 16 5 16Z") !important;
}

.iconContainer-1BBaeJ[aria-label="Text"] svg path {
	d: path("M5.66667 16L8 9H2V7H8.66667L11 0H13L10.6667 7H17.6667L20 0H22L19.6667 7H24V9H19L16.6667 16H22V18H16L14 24H12L14 18H7L5 24H3L5 18H0V16H5.66667ZM7.66667 16H14.6667L17 9H10L7.66667 16Z") !important;
}

.iconContainer-1BBaeJ[aria-label="Text (Limited)"] svg path {
	d: path("M8 9L5.66667 16H0V18H5L3 24H5L7 18H14L12 24H14L16 18H22V16H16.6667L18.6667 10H16.6667L14.6667 16H7.66667L10 9H16V7H10.6667L13 0H11L8.66667 7H2V9H8ZM18 3.3C18 3.13431 18.1343 3 18.3 3H19V2C19 0.895431 19.8954 0 21 0C22.1046 0 23 0.895431 23 2V3H23.7C23.8657 3 24 3.13431 24 3.3V7.7C24 7.86568 23.8657 8 23.7 8H18.3C18.1343 8 18 7.86569 18 7.7V3.3ZM22 3V2C22 1.44772 21.5523 1 21 1C20.4477 1 20 1.44772 20 2V3H22Z") !important;
}

path[d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"] {
	display: none;
}

/* Channel Textarea Icons */

button[aria-label="Send a gift"] svg path {
	d: path("M12.7608 2.73945L14.6698 0.830414C15.519 -0.0187357 16.8957 -0.0187345 17.7449 0.830414L17.8126 0.898126C18.513 1.59855 18.6091 2.67448 18.1008 3.4779H20.5221C21.6267 3.4779 22.5221 4.37333 22.5221 5.4779V22C22.5221 23.1046 21.6267 24 20.5221 24H4C2.89543 24 2 23.1046 2 22V5.4779C2 4.37333 2.89543 3.4779 4 3.4779H6.42081C5.91251 2.67448 6.00857 1.59855 6.70899 0.898126L6.7767 0.830414C7.62585 -0.0187345 9.00259 -0.0187357 9.85174 0.830414L11.7608 2.73945V0H12.7608V2.73945ZM11.0537 3.44656L9.14464 1.53752C8.68601 1.0789 7.94243 1.0789 7.48381 1.53752L7.4161 1.60523C6.99487 2.02646 6.99487 2.70941 7.4161 3.13064C7.61838 3.33292 7.89273 3.44656 8.1788 3.44656H11.0537ZM13.4679 3.44656L15.3769 1.53752C15.8356 1.0789 16.5791 1.0789 17.0378 1.53752L17.1055 1.60523C17.5267 2.02646 17.5267 2.70941 17.1055 3.13064C16.9032 3.33292 16.6288 3.44656 16.3428 3.44656H13.4679ZM11.7618 4.4779H4C3.44772 4.4779 3 4.92562 3 5.4779V13.239H11.7618V4.4779ZM12.7618 4.4779V13.239H21.5221V5.4779C21.5221 4.92562 21.0744 4.477920.5221 4.4779H12.7618ZM21.5221 14.239H12.7618V23H20.5221C21.0744 23 21.5221 22.5523 21.5221 22V14.239ZM11.7618 23V14.239H3V22C3 22.5523 3.44772 23 4 23H11.7618Z") !important;
}

button[aria-label="Open GIF picker"] svg path {
	d: path("M2.5 2.5C1.11929 2.5 0 3.61929 0 5V19C0 20.3807 1.11929 21.5 2.5 21.5H21.5C22.8807 21.5 24 20.3807 24 19V5C24 3.61929 22.8807 2.5 21.5 2.5H2.5ZM1 5C1 4.17157 1.67157 3.5 2.5 3.5H21.5C22.3284 3.5 23 4.17157 23 5V19C23 19.8284 22.3284 20.5 21.5 20.5H2.5C1.67157 20.5 1 19.8284 1 19V5ZM10.5192 9.5V10.6538H5.90385V14.1154H9.36539V12.9615H7.05769V11.8077H10.5192V15.2692H4.75V9.5H10.5192ZM11.6731 15.2692V9.5H12.8269V15.2692H11.6731ZM13.9808 15.2692V9.5H19.75V10.6538H15.1346V11.8077H17.4423V12.9615H15.1346V15.2692H13.9808Z") !important;
}

/* Call Avatar Statuses */
.callAvatarMask-1SLlRi .status-1WEaea {
	background: transparent;
}

/* Anims and stuff*/

button[aria-label="User Settings"] .contents-18-Yxp:hover {
  animation: UserSettings 0.75s normal ease-in-out;
}

button[aria-label="Mute"] .contents-18-Yxp:hover,
button[aria-label="Deafen"] .contents-18-Yxp:hover {
  animation: AudioControls 0.75s normal ease-in-out;
}

.container-3baos1 .noWrap-3jynv6 {
  width: 100px;
  opacity: 1;
}

.button-14-BFJ {
  transition: 0.2s;
}

.button-14-BFJ:hover {
  padding-bottom: 0px;
  transition: 0.2;
}

@keyframes UserSettings {
  0% {
    transform: none;
  }
  50% {
    transform: rotate(90deg) scale(1.2);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes AudioControls {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(360deg);
  }
}

code {
	font-family: "DM Mono";
}

.tutorialContainer-2sGCg9 .childWrapper-anI2G9 {
	background: url("https://u.cubeupload.com/Shocked/Coolcord.png");
	background-color: transparent!important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.tutorialContainer-2sGCg9 .childWrapper-anI2G9 svg {
	display: none;
}

.channelName-2YrOjO {
	text-transform: capitalize;
}

rect[fill^="hsl(262,"] {fill: #5D5FEF!important} /* Streaming */
rect[fill^="hsl(139,"] {fill: #36CBB0!important} /* Online */
rect[fill^="hsl(38,"] {fill: #EBA52D!important} /* AFK */
rect[fill^="hsl(359,"] {fill: #CE2322!important} /* Do Not Disturb */

#status-picker-idle .status-1AY8sU {
	background-color: #EBA52D!important;
}

#status-picker-online .status-1AY8sU {
	background-color: #36CBB0!important;
}

#status-picker-dnd .status-1AY8sU {
	background-color: #CE2322!important;
}

.gameWrapper-1jIQAX .title-eS5yk3::before {
	content: 'Playing ';
	font-weight: 100;
}

.childWrapper-anI2G9 {
	border-radius: 5px;
}

/* Dark Theme */
.theme-dark {
	--background-tertiary: #060C23;
	--background-secondary-alt: #1F2539;
	--background-secondary: #1E2338;
	--background-primary: #262C40;
	--channeltextarea-background: var(--background-secondary);
	--background-floating: var(--background-tertiary);
	--channels-default: #98A7DB;
	--text-muted: #576697;
	--background-modifier-selected: rgba(54, 203, 176, 0.1);
}

.toolbar-1t6TWx svg path {
	fill: var(--text-muted);
}

.iconWrapper-2OrFZ1[aria-label="Start Video Call"] svg path {
	fill: var(--text-muted);
}

.iconBadge-qZ4Ksk {
	background: #36CBB0;
}

.iconWrapper-2OrFZ1[aria-label="Add Friends to DM"] svg path {
	fill: var(--text-muted);
}

.theme-dark svg path[d="M21 3V0H19V3H16V5H19V8H21V5H24V3H21Z"] {
	fill: #36CBB0;
}

.theme-dark .subtext-3CDbHg {
	color: var(--text-muted);
}

.theme-dark path[d^="M9.01"],
.theme-dark path[d^="M6.7"],
.theme-dark path[d^="M11.7237"],
.theme-dark path[d="M21 4.27L19.73 3L3 19.73L4.27 21L8.46 16.82L9.69 15.58L11.35 13.92L14.99 10.28L21 4.27Z"],
.theme-dark path[d^="M19.725"],
.theme-dark path[d^="M6.16204"],
.theme-dark path[d^="M3.20101"] {
	fill: #CE2322;
}

.theme-dark path[d^="M14.99"],
.theme-dark path[d^="M12"],
.theme-dark path[d^="M19.738"] {
	fill: #36CBB0;
}

.theme-dark .searchBar-3dMhjb svg path {
	fill: #36CBB0;
}

.theme-dark rect[fill^="hsl(214,"] {fill: #576697;} /* Offline */

.theme-dark #status-picker-invisible .status-1AY8sU {
	background-color: #576697;
}

.theme-dark .placeholder-37qJjk {
	visibility: hidden;
}

.theme-dark .placeholder-37qJjk::before {
	content: "What's happening?";
	visibility: visible;
}

.theme-dark button[aria-label="Send a gift"] path,
.theme-dark button[aria-label="Open GIF picker"] path,
.theme-dark button[aria-label="Open sticker picker"] path {
	fill: var(--channels-default);
}

.theme-dark .numberBadge-2s8kKX {
	background: #36CBB0!important;
	color: var(--background-tertiary);
	font-size: 11px;
}

.theme-dark .item-2hkk8m {
	background-color: #686C7B;
}

.theme-dark .activityText-yGKsKm {
	color: #576697;
}

.theme-dark roleColor-rz2vM0 {
	color: white;
}

/* Fixed the Discord Nitro 'd' */
path[d="M121.474 3.41937V12.6254H118.347V10.9596C118.113 11.5441 117.675 12.0701 117.149 12.3916C116.535 12.7423 115.863 12.9177 115.161 12.8884C114.518 12.9177 113.875 12.7131 113.32 12.3624C112.794 12.0117 112.356 11.5148 112.093 10.9303C111.8 10.2874 111.654 9.58596 111.654 8.88455C111.625 8.15391 111.8 7.42327 112.093 6.78031C112.385 6.16657 112.853 5.66974 113.408 5.31903C113.992 4.96833 114.665 4.79297 115.337 4.79297C116.827 4.79297 117.821 5.43593 118.347 6.72186V3.41937H121.474ZM117.909 10.0243C118.23 9.70286 118.405 9.26448 118.376 8.82609C118.376 8.38771 118.201 7.94933 117.909 7.65707C117.178 7.04334 116.126 7.04334 115.366 7.65707C115.044 7.97855 114.869 8.38771 114.898 8.82609C114.869 9.26448 115.044 9.70286 115.366 10.0243C115.717 10.3458 116.155 10.4919 116.623 10.4919C117.09 10.5212 117.558 10.3458 117.909 10.0243Z"] {
	fill: white!important;
}
